{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OneCourses</title>
    <link rel="icon" href="{% static 'oneapp/ha.jpg' %}" type="image/x-icon" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar">
    <img src="{% static 'oneapp/ha.jpg' %}" class="img-fluid" style="width:auto;height:5rem;">
    <a href='#' class="nav-link text-dark">Entrar</a>
    <a href='register' class="nav-link text-dark">Matricule-se</a>
    <h1 class="display-4 h2">OneCourse</h1>
</nav>
<div class="container-fluid bg-dark" style="height:10rem;">
    <h2 class="h1 display-4 text-light">Mergulhe em Tecnologia!</h2>
</div>
<div class="container-fluid bg-dark">
<div class="card" style="background-color:#2E2E2E;width: 18rem;border:1px solid white;">
    <img class="card-img-top" src="{% static 'oneapp/datascience.png' %}" alt="Card image cap" style="width:3rem;height:3rem">
    <h3 class="text-success">Aprenda Data Science</h3>
    <h4 class="text-white h5 text-center">Ciência de dados, BI, SQL e Banco de Dados, Excel, Machine Learning, NoSQL, Estatística </h4>
</div>
</div>
{% if user.is_authenticated or session.user %}
<h1>Yamete</h1>
{% endif %}
</body>
</html>